WCF/CompanyClient/Connected Services/CompanyService/CompanyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompanyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICompanyConfidentialService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompanyPublicService_GetPublicInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicInformation" />
  </wsdl:message>
  <wsdl:message name="ICompanyPublicService_GetPublicInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyConfidentialService_GetConfidentialInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfidentialInformation" />
  </wsdl:message>
  <wsdl:message name="ICompanyConfidentialService_GetConfidentialInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfidentialInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompanyPublicService">
    <wsdl:operation name="GetPublicInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyPublicService/GetPublicInformation" message="tns:ICompanyPublicService_GetPublicInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyPublicService/GetPublicInformationResponse" message="tns:ICompanyPublicService_GetPublicInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICompanyConfidentialService">
    <wsdl:operation name="GetConfidentialInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyConfidentialService/GetConfidentialInformation" message="tns:ICompanyConfidentialService_GetConfidentialInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyConfidentialService/GetConfidentialInformationResponse" message="tns:ICompanyConfidentialService_GetConfidentialInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICompanyPublicService" type="tns:ICompanyPublicService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPublicInformation">
      <soap:operation soapAction="http://tempuri.org/ICompanyPublicService/GetPublicInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ICompanyConfidentialService" type="tns:ICompanyConfidentialService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICompanyConfidentialService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetConfidentialInformation">
      <soap12:operation soapAction="http://tempuri.org/ICompanyConfidentialService/GetConfidentialInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompanyService">
    <wsdl:port name="BasicHttpBinding_ICompanyPublicService" binding="tns:BasicHttpBinding_ICompanyPublicService">
      <soap:address location="http://localhost:8080/CompanyService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICompanyConfidentialService" binding="tns:NetTcpBinding_ICompanyConfidentialService">
      <soap12:address location="net.tcp://localhost:8090/CompanyService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/CompanyService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>YMIN-5X8QQM2\Software1</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>